<h3>Upload A New CSV</h3>

<div class="col-md-6 top10">
  <%= simple_form_for @csv_upload do |form| %>
    <%= form.input :csv_file, label: "CSV File" %>
    <%= form.input :tag %>
    <%= form.button :submit, "Upload" %>
  <% end %>
</div>
